<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089105904969-uunjfhab6lc4s12s0skmebm6eq1kp19p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089105904969-uunjfhab6lc4s12s0skmebm6eq1kp19p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1089105904969-1p51tcreh8e2mefol8rgq3j6k3qfrf21.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOEXvDoMxUHG1OU3dvM_mEOWgE1Xb-A_k</string>
	<key>GCM_SENDER_ID</key>
	<string>1089105904969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>imageframe.ios.idh</string>
	<key>PROJECT_ID</key>
	<string>fsgidh</string>
	<key>STORAGE_BUCKET</key>
	<string>fsgidh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089105904969:ios:e0e5970b6ea2a4e3604698</string>
	<key>DATABASE_URL</key>
	<string>https://fsgidh.firebaseio.com</string>
</dict>
</plist>